body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
  }
  
  .full-conteiner,
  .main_section-conteiner,
  .aboutme_main-conteiner,
  .tools_main-container,
  .mywork-conteiner,
  .main_posts-conteiner,
  .main_contact-conteiner,
  .navbar_main-wrapper,
  .navbar_element-wrapper,
  .main_section-wrapper,
  .introduce_link-wrapper,
  .first_contact-wrapper,
  .first_button-wrapper,
  .about_main-wrapper,
  .statistics_main-wrapper,
  .tools_elements-wrapper,
  .mywork_text-wrapper,
  .mywork_baner-wrapper,
  .icon-wrapper,
  .blog_posts-wrapper,
  .post_main-wrapper,
  .post_header-wrapper,
  .contact_description-wrapper,
  .start_data-wrapper,
  .navbar_link-list,
  .main_section-introduce,
  .first_hire-button,
  .first_cv-button,
  .about_btn-text,
  .contact_form,
  .form_button,
  .description_data-info,
  .description_main-info,
  .tools_element,
  .mywork_baner-element,
  .mywork_lastbaner-element,
  .button-element,
  .statistics_main-wrapper div span,
  .contact_form form,
  .first_button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .full-conteiner {
    margin-top: 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .main_section-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
  }
  
  .aboutme_main-conteiner {
    margin-top: -9%;
    padding: 0% 13%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .tools_main-container {
    background-color: rgba(236, 196, 164, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0% 2%;
    margin-top: 5%;
    height: 20em;
  }
  
  .mywork-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0% 7%;
    margin-bottom: 10%;
    margin-top: -12%;
  }
  
  .main_posts-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 12%;
    margin-top: 9%;
  }
  
  .main_contact-conteiner {
    height: auto;
    z-index: 3;
    background-color: rgba(236, 196, 164, 0.4);
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
  }
  
  .navbar_main-wrapper {
    top: 0;
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: rgba(199, 199, 198, 0.8);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(199, 199, 198, 0.8);
    box-shadow: 0px 6px 5px 0px rgba(199, 199, 198, 0.8);
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .navbar_element-wrapper {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    background-color: #ecc4a4;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    width: 53vw;
    height: 9vh;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .main_section-wrapper {
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    margin-top: 3.5%;
  }
  
  .main_image-wrapper {
    background-image: url("../../../../assets/man-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 29%;
    height: 38.5em;
    margin-right: 7%;
  }
  
  .introduce_link-wrapper {
    margin-top: -1%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .first_contact-wrapper {
    margin-top: -3%;
    width: 120%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: -55%;
  }
  
  .first_button-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    width: 85%;
    margin-right: -2%;
  }
  
  .about_main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-right: 8%;
  }
  
  .skills_main-wrapper {
    margin-right: -7%;
    margin-top: -2%;
    border-radius: 10px;
    padding-left: 7%;
    padding-top: 4%;
    width: 60%;
    height: 40em;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .statistics_main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .tools_header-wrapper {
    margin-left: 10%;
    font-size: 30px;
  }
  
  .tools_elements-wrapper {
    margin-top: 2%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 21%;
  }
  
  .mywork_text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-left: 6%;
    font-size: 30px;
  }
  
  .mywork_baner-wrapper {
    position: relative;
    z-index: 2;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-left: 1%;
  }
  
  .icon-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .blog_posts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .text_wrapper-subtitle {
    margin: 0;
    font-weight: 400;
    color: #ecc4a9;
  }
  
  .post_main-wrapper {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 0;
  }
  
  .post_header-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .form_description-wrapper {
    width: 70%;
    font-size: 12px;
  }
  
  .contact_description-wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-right: 10%;
    margin-top: 2%;
  }
  
  .description_image-wrapper {
    background-image: url("../../../../assets/man-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 40vh;
    border-radius: 5px;
  }
  
  .start_data-wrapper {
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
  }
  
  .description_image-wrapper {
    width: 50%;
  }
  
  .posts_text {
    margin-left: 3%;
    font-size: 30px;
  }
  
  .text_title {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
  }
  
  .text_subtitle {
    font-weight: 500;
    font-size: 40px;
    color: #ecc4a4;
    margin: 0;
  }
  
  .navbar_main-text {
    color: rgb(187, 187, 187);
    font-size: 4em;
    font-weight: 900;
    margin-left: 5%;
  }
  
  .navbar_link-list {
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .main_section-introduce {
    margin-right: 37%;
    margin-top: 14%;
    position: relative;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 200%;
    height: 15em;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 1% 4%;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
  }
  
  .introduce_header-about {
    font-weight: 500;
    margin-top: 3%;
    font-size: 40px;
  }
  
  .introduce_header-title {
    font-weight: 500;
    font-size: 40px;
    color: #ecc4a4;
    margin-top: -3%;
  }
  
  .introduce_bit-image {
      background-image: url("./bit_bucket_icon.png");
      background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 8%;
    height: 3em;
    cursor: pointer;
  }
  .introduce_dev-image {
    background-image: url("./dev_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 8%;
    height: 3em;
    cursor: pointer;
  }
  
  .introduce_bit-image:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .introduce_dev-image:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .first_contact-header {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  .first_contact-description {
    font-weight: 300;
    font-size: 25px;
  }
  
  .first_hire-button,
  .first_cv-button {
    cursor: pointer;
    font-weight: 300;
    font-size: 25px;
    color: white;
    background-color: #ecc4a4;
    border: none;
    width: 42%;
    height: 70px;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.23);
  }
  
  .about_main-title {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 40px;
  }
  
  .about_techy-title {
    color: #ecc4a4;
    font-weight: 400;
    margin: 0;
    font-size: 40px;
  }
  
  .about_techy-description {
    font-weight: 300;
    font-size: 25px;
  }
  
  .about_interests-title {
    color: #ecc4a4;
    font-weight: 400;
    margin: 0;
    font-size: 40px;
  }
  
  .about_interests-list {
    margin-top: 0;
    font-weight: 300;
    font-size: 25px;
  }
  
  .about_btn-text {
    margin-top: -8%;
    font-weight: 400;
    font-size: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .tools_element-redux,
  .tools_element-program,
  .tools_element-flexbox,
  .tools_element-styledComponents,
  .tools_element-express,
  .tools_element-webpack,
  .tools_element-react {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 50%;
    height: 4vh;
  }
  
  .tools_element-react {
    background-image: url("./react.png");
  }
  
  .tools_element-webpack {
    background-image: url("./webpack.png");
  }
  
  .tools_element-express {
    background-image: url("./nodejs.png");
  }
  
  .tools_element-styledComponents {
    background-image: url("./styled components.png");
  }
  
  .tools_element-redux {
    background-image: url("./redux.png");
  }
  
  .tools_element-flexbox {
    background-image: url("./flexbox.png");
  }
  
  .tools_element-program {
    background-image: url("./program.png");
  }
  
  .easy_code-btn {
    background-image: url("./easy_code_button.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    width: $wrapper-xs;
    height: 4em;
  }
  
  .skills_main-title {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
  }
  .skills_description {
    font-weight: 300;
    font-size: 25px;
  }
  
  .tools_main-subtitle {
    color: #ecc4a9;
  }
  
  .text_main-title {
    font-weight: 400;
    margin: 0;
  }
  
  .text_sub-title {
    font-weight: 400;
    color: #ecc4a9;
    margin-top: 0;
  }
  
  .text_paragraph {
    margin-top: 0;
    font-weight: 300;
    font-size: 26px;
  }
  
  .banner_icon {
    cursor: pointer;
    width: 15%;
    height: auto;
  }
  
  .post_text {
    width: 70%;
    margin-right: 10%;
  }
  
  .post_main-title {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: -10px;
  }
  
  .header_date {
    margin-right: -15%;
    font-size: 300;
    color: #ecc4a9;
  }
  
  .post_subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    color: #ecc4a9;
  }
  
  .post_text p {
    font-size: 20px;
  }
  
  .form_main-title {
    margin-bottom: 1%;
    font-weight: 400;
    font-size: 40px;
  }
  
  .form_paragraph {
    margin-top: 0;
    font-weight: 300;
    font-size: 25px;
  }
  
  .contact_form {
    margin-left: 25%;
    width: 89%;
    height: 40vh;
  }
  
  .form_button {
    cursor: pointer;
    font-weight: 300;
    background-color: #ecc4a9;
    color: white;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    width: 20%;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 2%;
    border-radius: 5px;
    font-size: 10px;
    margin-left: -2%;
  }
  
  .description_data-info {
    position: absolute;
    top: 35%;
    right: 40%;
    z-index: 2;
    background-color: rgba(252, 249, 246, 0.9);
    font-weight: 300;
    border-radius: 2px;
    padding: 1% 3% 1%;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 55%;
    height: 10vh;
    -ms-flex-item-align: center;
    align-self: center;
  }
  
  .description_main-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .baner_img-logotype,
  .baner_img-office,
  .baner_img-shop,
  .baner_img-ecourse,
  .baner_img-explore,
  .baner_img-sushi {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 90%;
  }
  
  .baner_img {
    width: 100%;
    height: auto;
  }
  
  .post_image {
    margin-right: 5%;
    position: relative;
    z-index: 2;
    width: 31%;
    border-radius: 5px;
  }
  
  .description_contact-photo {
    width: $wrapper-xs;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  
  .description_man-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .navbar_line-element {
    background-color: white;
    width: 0.13vw;
    height: 7vh;
    margin-left: 10%;
  }
  
  .tools_element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 1%;
    width: 90px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 1%;
  }
  
  .tools_element:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .tools_circle-element {
    background-image: url("./koła_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 26%;
    height: 550px;
    margin-left: 70%;
    margin-top: -14%;
  }
  
  .toolsLeft_circle-element {
    background-image: url("./koła_03.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 35%;
    top: 140%;
    height: 60vh;
    left: -20%;
    margin: 0;
  }
  .mywork_baner-element {
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 27%;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
  }
  
  .mywork_lastbaner-element {
    position: relative;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 27%;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
    background-color: rgba(236, 196, 164, 0.7);
  }
  
  .myworks_circle-element {
    background-image: url("./koła_01.png");
   background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 40%;
    height: 40em;
    margin-left: 55%;
    margin-top: -50%;
  }
  
  .button-element {
    margin: 0;
    font-size: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .blog_circle-element {
   background-image: url("./koła_01.png");
   background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    width: $wrapper-xs;
    height: 500px;
    margin-top: -30%;
    margin-left: -23%;
  }
  
  .left_circle-element {
    background-image: url("./koła_03.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
    width: 550px;
    height: 570px;
    margin-top: -4%;
    margin-left: -4%;
  }
  
  .right_circle-element {
    background-image: url("./koła_01.png");
   background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    width: 600px;
    height: 600px;
    margin-left: 65%;
    margin-top: -28%;
  }
  
  .center_circle-element {
    background-image: url("./koła_02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -100;
    width: 400px;
    height: 410px;
    margin-left: 31%;
    margin-top: -12%;
  }
  
  .contact_circleSecond-element {
    background-image: url("./koła_03.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    width: 27%;
    height: 450px;
    margin-left: 52%;
    margin-top: -42%;
    z-index: 1;
  }
  
  .navbar_link-list li {
    cursor: pointer;
    margin: 7%;
    font-size: 1em;
    font-weight: 100;
  }
  .navbar_link-list i {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 1vw;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  .main_section-introduce p {
    margin-top: -2%;
    font-weight: 300;
    font-size: 26px;
  }
  
  .introduce_link-wrapper p {
    margin: 0;
    cursor: pointer;
    font-size: 24px;
  }
  
  .about_interests-list p {
    list-style-type: none;
    position: relative;
    margin: 0;
    margin-left: -30px;
  }
  
  .about_interests-list p::before {
    content: ".";
    position: absolute;
    left: -0.5em;
    top: -0.4em;
    font-size: 1.5em;
  }
  
  .statistics_main-wrapper div {
    width: 80%;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: 3%;
    font-weight: 100;
    height: 40px;
  }
  
  .statistics_main-wrapper div span {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1%;
    height: 36px;
    background-color: #ecc4a4;
    color: white;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    font-weight: 100;
  }
  
  .statistics_main-wrapper div .statistics_100 {
    width: 98%;
  }
  .statistics_main-wrapper div .statistics_90 {
    width: 90%;
  }
  
  .statistics_main-wrapper div .statistics_60 {
    width: 60%;
  }
  
  .tools_header-wrapper h2 {
    font-weight: 400;
    margin: 0;
  }
  
  .tools_element img {
    width: 60%;
    margin-bottom: 5px;
  }
  
  .tools_element p {
    font-weight: 100;
    font-size: 100%;
    margin: 0;
    text-align: center;
  }
  
  .contact_form form {
    width: 50%;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .button-element p {
    cursor: pointer;
    font-size: 25px;
    font-weight: 300;
    color: #ecc4a9;
    margin: 0;
    z-index: 2;
  }
  
  .button-element div {
    cursor: pointer;
    width: 1.5%;
    height: 7px;
    border-top: 1.5px solid #ecc4a9;
    border-right: 1.5px solid #ecc4a9;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .contact_form form textarea {
    padding: 3%;
    width: 88%;
    height: 100px;
    resize: none;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 10px;
  }
  
  .contact_form form input {
    padding: 3%;
    width: 88%;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 2%;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 10px;
  }
  
  .description_main-info p {
    margin: 0;
    font-weight: 300;
    font-size: 10px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  
  .contact_text p {
    margin: 2%;
    font-size: 70%;
    z-index: 3;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /* MEDIA QUERIES */
  
   @media (max-width: 768px) {
    .main_section-conteiner {
      width: 55%;
      margin-right: -40%;
    }
  
    .aboutme_main-conteiner {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .main_image-wrapper {
      visibility: hidden;
      display: none;
    }
  
    .introduce_link-wrapper {
      margin-top: 0;
    }
  
    .tools_element div{
      width: 30px;
      height: 30px;
    }
  
    .tools_elements-wrapper{
      margin: 0;
    }
  
    .first_contact-wrapper {
      width: 150%;
      margin-top: 1%;
      align-items: center;
      align-self: center;
      margin-left: -60%;
    }
  
    .navbar_element-wrapper {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: white;
      width: 100vw;
      height: 100vh;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 48em;
      -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
      transform: translateX(120%);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      -o-transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }
  
    .first_button-wrapper{
     width: 100%;
    }
  
    .about_main-wrapper {
      width: 100%;
      margin-right: 8%;
    }
    .skills_main-wrapper {
      width: 100%;
    }
  
    .mywork_text-wrapper {
      width: 100%;
      margin-left: 6%;
    }
  
    .start_data-wrapper{
      width: 120%;
    }
  
    .description_image-wrapper {
      visibility: hidden;
      display: none;
    }
  
    .first_contact-header {
      font-size: 20px;
    }
  
    .introduce_bit-image,
    .introduce_dev-image {
      background-size: cover;
      width: 40px;
      height: 50px;
      cursor: pointer;
    }
  
    .introduce_header-about {
      font-size: 20px;
    }
  
    .main_section-introduce {
      height: 330px;
      margin-right: 5%;
      margin-top: 14%;
    }
  
    .about_main-title {
      margin-top: 15%;
    }
  
    .introduce_header-title {
      font-size: 20px;
    }
  
    .main_section-introduce {
      width: 80%;
    }
  
    .first_contact-description {
      font-size: 20px;
      width: 60%;
      text-align: center;
    }
  
  
    .navbar_link-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .navbar_line-element {
      background-color: white;
      width: 80vw;
      height: 1px;
      margin-left: 0;
    }
  
    .nav-active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }
  
    .navbar_burger-element {
      position: absolute;
      z-index: 10;
      margin-left: 70vw;
    }
    .tools_element {
      margin: 1%;
    }
  
    .post_subtitle {
      font-size: 25px;
    }
  
    .post_main-title {
      font-size: 25px;
    }
  
    .form_main-title {
      margin-left: 20px;
      font-size: 20px;
    }
  
    .form_paragraph {
      margin-left: 20px;
      font-size: 15px;
    }
  
    .description_data-info {
      position: relative;
      top: 0;
      right: 5%;
      z-index: 2;
      flex-direction: column;
      width: 55%;
      height: 120px;
      -ms-flex-item-align: center;
      align-self: center;
      font-size: 25px;
      margin-bottom: 2%;
    }
  
  .description_contact-photo{
    width: 50px;
  }
  
    .contact_form {
      height: 200px;
    }
  
    .text_main-title {
      margin-top: 15%;
    }
  
    .contact_circleSecond-element,
    .blog_circle-element,
    .myworks_circle-element,
    .tools_circle-element,
    .center_circle-element,
    .right_circle-element,
    .left_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .post_main-wrapper p {
      font-size: 10px;
    }
  
    .main_section-introduce p {
      font-size: 15px;
      margin: 0;
    }
  
    .navbar_link-list li {
      margin-bottom: 30%;
      font-size: 130%;
      font-weight: 300;
    }
  
    .navbar_link-list i {
      font-size: 3em;
      margin-right: 0;
      margin-bottom: 100%;
    }
  
    .navbar_burger-element div {
      cursor: pointer;
      width: 30px;
      height: 4px;
      background-color: white;
      margin: 7px;
      border-radius: 10px;
    }
  
    .contact_text p {
      font-size: 10px;
    }
  
    .description_main-info p {
      font-size: 5px;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
  
    .contact_form{
      margin-left: 5%;
    }
  
    .contact_form form {
      height: 200px;
      width: 100%;
    }
  
    .main_contact-conteiner{
      flex-direction: column;
    }
  
    .description_main-info{
      width: 130%;
    }
  
    .description_main-info p {
      font-size: 15px !important;
    }
  
    .contact_description-wrapper{
      align-self: center;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .contact_description-wrapper{
      width: 60%;
    }
  
    .post_main-wrapper img{
      display: none;
      visibility: hidden;
    }
  
    .post_main-wrapper{
      width: 100%;
      margin: 5% 0% 5% 0%;
    }
  
    .post_text p{
      font-size: 15px;
    }
  
    .main_posts-conteiner{
      padding: 0;
    }
  
    .text_paragraph{
      font-size: 20px;
      width: 90%;
    }
  
    .easy_code-btn{
      display: none;
      visibility: hidden;
    }
  }
  
  @media (max-width: 1024px) {
  
    .mywork-conteiner {
      margin-top: 1%;
    }
  
    .aboutme_main-conteiner {
      margin-top: 7%;
    }
  
    .tools_main-container {
      height: 390px;
    }
  
    .main_image-wrapper {
      height: 60vh;
    }
  
    .description_image-wrapper {
      width: 70%;
    }
  
    .navbar_main-wrapper {
      height: 100px;
    }
  
    .description_data-info {
      width: 100%;
    }
  
    .left_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .right_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .main_section-introduce {
      width: 150%;
    }
  
    .introduce_header-about {
      font-size: 30px;
    }
  
    .introduce_header-title {
      font-size: 30px;
    }
  
    .center_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .tools_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .myworks_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .blog_circle-element {
      visibility: hidden;
      display: none;
    }
  
    .contact_circleSecond-element {
      visibility: hidden;
      display: none;
    }
  
    .first_contact-header {
      font-size: 30px;
    }
  
    .first_contact-description {
      font-size: 20px;
    }
  
    .tools_element {
      margin: 1%;
    }
  
    .contact_text p {
      font-size: 20px;
    }
  
    .description_main-info p {
      font-size: 20px;
    }
  
    .main_section-introduce p {
      font-size: 20px;
    }
  
  
    .navbar_link-list li {
      margin: 5%;
      font-size: 80%;
      font-weight: 300;
    }
    .navbar_link-list i {
      font-size: 1.5em;
      margin-right: 1.5vw;
    }
  }
  @media (min-width: 1025px) {
  
    .form_description-wrapper {
      width: 70%;
      margin-left: 18%;
      margin-top: -1%;
    }
  
    .contact_form-wrapper {
      width: 70%;
    }
  
    .tools_circle-element {
      height: 50;
    }
  
    .blog_circle-element {
      width: 50%;
    }
  
    .description_contact-photo {
      width: 15%;
  
    }
  
    .form_button {
      height: 30px;
      font-size: 15px;
    }
  
    .contact_form form {
      width: 70%;
      margin-left: -6%;
    }
  
    .contact_form form input {
      height: 25px;
      font-size: 15px;
    }
  
    .contact_form form textarea {
      height: 140px;
      font-size: 15px;
    }
  
    .description_main-info p {
      font-size: 25px;
    }
  
    .contact_text p {
      font-size: 20px;
    }
  
    .navbar_link-list li {
      margin: 5%;
      font-size: 100%;
      font-weight: 300;
    }
    .navbar_link-list i {
      font-size: 1.7em;
      margin-right: 1.8vw;
    }
  }
  
  @media (min-width: 1441px) {
    .main_section-introduce {
      width: 180%;
      font-size: 20px;
    }
  
    .main_section-image {
      position: relative;
      z-index: 1;
      border-radius: 5px;
      width: 100%;
    }
  
    .navbar_link-list li {
      margin: 5%;
      font-size: 130%;
      font-weight: 300;
    }
  
    .navbar_link-list i {
      font-size: 1.9em;
      margin-right: 1.8vw;
    }
  }

